@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


html {
    height: 100vh;
}

body {
    margin: 0%;
    height: 100%;
    opacity: 0;
}


#container {
    height: 100%;
    display: flex;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(71,9,121,1) 57%, rgba(2,0,36,1) 100%);
    align-items: center;
}

#setupcontainer {
    display:flex;
    align-items: center;
    width: 100%;
}

#leftsetup {
    width: 100%;
}

#rightsetup {
    /*border-left: solid rgb(65, 19, 107) 10px;*/
    width: 100%;
    height: 90vh;
    display: flex;
}

#rightcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: "Lexend Deca";
    color:white;
}

.fontlxnd {
    font-family: "Lexend Deca";
    color: white;
    font-size: 32px;
    margin: 0%;
    width: max-content;
}

.fa-user-circle {
    width: 100%;
    font-size: 64px;
    color: rgb(112, 23, 90);
}

.fa-key {
    color: rgb(112, 23, 90);
    font-size: 64px;
    width: 100%;
}

.fa-check {
    color: lime;
    font-size: 128px;
    width: 100%;
}

.fa-eye {
    color: rgb(112, 23, 90);
    font-size: 64px;
    width: 100%;
}

[class*="fa-"]:before {
    content:"👤";
}

#SubmitGo {
    width: 70px;
    height: 40px;
    background-color: rgb(54, 179, 211);
    border-radius: 1em;
    border: none;
    margin: 20px;
    color: white;
    transition: width 200ms ease-in;
}

#SubmitGo:hover {
    background-color: rgb(37, 124, 146);
    /*width: 40px;
    border-radius: 4em;*/
}


.formContainer {
    background-color: white;
    border-radius: 1.5em;
    height: 500px;
    width: 350px;
    display: flex;
    align-items: center;
}
#OperationMsg {
    color: black;
}


.fadeOut {
    opacity: 0;
    transition: opacity 600ms cubic-bezier(0.55, 0.085, 0.68, 0.53);

}

.fadeIn {
    opacity: 1;
    transition: opacity 600ms cubic-bezier(0.55,0.085, 0.68, 0.53);
}

.progressContainer {
    background-color: white;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 1.5em;
    display: flex;
    align-items: center;

}

.progressContainer p {
    font-family: "Lexend Deca";
    color: rgb(169, 0, 202);
}

.fixedContainer {
    display: flex;
    position: fixed;
}

.languageContainer {
    background-color: white;
    width: 120px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
}

.languageContainer p {
    font-family: "Lexend Deca";
    color: rgb(169, 0, 202);
}

.exitContainer {
    background-color: white;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    border: none;
}

.fa-times-circle {
    font-family: "Lexend Deca";
    color: rgb(255, 0, 0);
    font-size: 20px;
}


.SystemMessageContainer {
    background-color: white;
    width: max-content;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
}

.SystemMessageContainer p {
    font-family: "Lexend Deca";
    margin-left: 20px;
    margin-right: 20px;
}

.updateContainer {
    background-color: white;
    width: max-content;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
}

.updateContainer p {
    font-family: "Lexend Deca";
    margin-left: 20px;
    margin-right: 20px;
}

.fa-download {
    margin-left: 20px;
}

#SysInput:focus {
    outline: none;
}


@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
 












.lds-dual-ring {
    display: inline-block;
    width: 100px;
    height: 0px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .optionTile {
    background-color: aqua;
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 0.3em;
    margin: 10px;
}

.optionTile:hover {
    transform: scale(1.03);
    transition: transform 0.1s linear;
}

