@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');
html {
    height: 100%;
}

body {
    background-color: black;
    font-family: "Lexend Deca",Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#systextcontainer{
    position: absolute;
    top: 70%;
    width: 100%;
    text-align: center;
    font-size: 5vh;
    font-family: "Lexend Deca",Arial, Helvetica, sans-serif;
    color: white;
  }

  .bottom-text{
    position: fixed;
    bottom: 1vh;
    width: 100%;
    text-align: center;
    color: white;
  }

  @-webkit-keyframes preload-show-1 {
    from {
      transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @keyframes preload-show-1 {
    from {
      transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @-webkit-keyframes preload-hide-1 {
    to {
      transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @keyframes preload-hide-1 {
    to {
      transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @-webkit-keyframes preload-cycle-1 {
    5% {
      transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #8926c7;
    }
    10%,
    75% {
      transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
    }
    80%,
    100% {
      transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #2689c7;
    }
  }
  @keyframes preload-cycle-1 {
    5% {
      transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #8926c7;
    }
    10%,
    75% {
      transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
    }
    80%,
    100% {
      transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #2689c7;
    }
  }
  @-webkit-keyframes preload-show-2 {
    from {
      transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @keyframes preload-show-2 {
    from {
      transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @-webkit-keyframes preload-hide-2 {
    to {
      transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @keyframes preload-hide-2 {
    to {
      transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @-webkit-keyframes preload-cycle-2 {
    10% {
      transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #8926c7;
    }
    15%,
    70% {
      transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
    }
    75%,
    100% {
      transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #2689c7;
    }
  }
  @keyframes preload-cycle-2 {
    10% {
      transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #8926c7;
    }
    15%,
    70% {
      transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
    }
    75%,
    100% {
      transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #2689c7;
    }
  }
  @-webkit-keyframes preload-show-3 {
    from {
      transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @keyframes preload-show-3 {
    from {
      transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @-webkit-keyframes preload-hide-3 {
    to {
      transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @keyframes preload-hide-3 {
    to {
      transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @-webkit-keyframes preload-cycle-3 {
    15% {
      transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #8926c7;
    }
    20%,
    65% {
      transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
    }
    70%,
    100% {
      transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #2689c7;
    }
  }
  @keyframes preload-cycle-3 {
    15% {
      transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #8926c7;
    }
    20%,
    65% {
      transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
    }
    70%,
    100% {
      transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #2689c7;
    }
  }
  @-webkit-keyframes preload-show-4 {
    from {
      transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @keyframes preload-show-4 {
    from {
      transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @-webkit-keyframes preload-hide-4 {
    to {
      transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @keyframes preload-hide-4 {
    to {
      transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @-webkit-keyframes preload-cycle-4 {
    20% {
      transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #8926c7;
    }
    25%,
    60% {
      transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
    }
    65%,
    100% {
      transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #2689c7;
    }
  }
  @keyframes preload-cycle-4 {
    20% {
      transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #8926c7;
    }
    25%,
    60% {
      transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
    }
    65%,
    100% {
      transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #2689c7;
    }
  }
  @-webkit-keyframes preload-show-5 {
    from {
      transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @keyframes preload-show-5 {
    from {
      transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @-webkit-keyframes preload-hide-5 {
    to {
      transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @keyframes preload-hide-5 {
    to {
      transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @-webkit-keyframes preload-cycle-5 {
    25% {
      transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #8926c7;
    }
    30%,
    55% {
      transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
    }
    60%,
    100% {
      transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #2689c7;
    }
  }
  @keyframes preload-cycle-5 {
    25% {
      transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #8926c7;
    }
    30%,
    55% {
      transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
    }
    60%,
    100% {
      transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #2689c7;
    }
  }
  @-webkit-keyframes preload-show-6 {
    from {
      transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @keyframes preload-show-6 {
    from {
      transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @-webkit-keyframes preload-hide-6 {
    to {
      transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @keyframes preload-hide-6 {
    to {
      transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    }
  }
  @-webkit-keyframes preload-cycle-6 {
    30% {
      transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #8926c7;
    }
    35%,
    50% {
      transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
    }
    55%,
    100% {
      transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #2689c7;
    }
  }
  @keyframes preload-cycle-6 {
    30% {
      transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #8926c7;
    }
    35%,
    50% {
      transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
    }
    55%,
    100% {
      transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #2689c7;
    }
  }
  @-webkit-keyframes preload-flip {
    0% {
      transform: rotateY(0deg) rotateZ(-60deg) rotate(0deg);
    }
    100% {
      transform: rotateY(360deg) rotateZ(-60deg) rotate(-5deg);
    }
  }
  @keyframes preload-flip {
    0% {
      transform: rotateY(0deg) rotateZ(-60deg) rotate(0deg);
    }
    100% {
      transform: rotateY(360deg) rotateZ(-60deg) rotate(-5deg);
    }
  }
  body {
    background: #000000;
    padding: 0;
    margin: 0;
    cursor: none;
    height: 100vh;
  }

  .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    display: block;
    width: 3.75em;
    height: 4.25em;
    margin-left: -1.875em;
    margin-top: -2.125em;
    transform-origin: center center;
    transform: rotateY(180deg) rotateZ(-60deg);
  }
  .preloader .slice {
    border-top: 1.125em solid transparent;
    border-right: none;
    border-bottom: 1em solid transparent;
    border-left: 1.875em solid #f7484e;
    position: absolute;
    top: 0px;
    left: 50%;
    transform-origin: left bottom;
    border-radius: 3px 3px 0 0;
  }
  .preloader .slice:nth-child(1) {
    transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
    -webkit-animation: 0.15s linear 0.82s preload-hide-1 both 1;
    animation: 0.15s linear 0.82s preload-hide-1 both 1;
  }
  .preloader .slice:nth-child(2) {
    transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
    -webkit-animation: 0.15s linear 0.74s preload-hide-2 both 1;
    animation: 0.15s linear 0.74s preload-hide-2 both 1;
  }
  .preloader .slice:nth-child(3) {
    transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
    -webkit-animation: 0.15s linear 0.66s preload-hide-3 both 1;
    animation: 0.15s linear 0.66s preload-hide-3 both 1;
  }
  .preloader .slice:nth-child(4) {
    transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
    -webkit-animation: 0.15s linear 0.58s preload-hide-4 both 1;
    animation: 0.15s linear 0.58s preload-hide-4 both 1;
  }
  .preloader .slice:nth-child(5) {
    transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
    -webkit-animation: 0.15s linear 0.5s preload-hide-5 both 1;
    animation: 0.15s linear 0.5s preload-hide-5 both 1;
  }
  .preloader .slice:nth-child(6) {
    transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
    -webkit-animation: 0.15s linear 0.42s preload-hide-6 both 1;
    animation: 0.15s linear 0.42s preload-hide-6 both 1;
  }
  .preloader.loading {
    -webkit-animation: 2s preload-flip steps(2) infinite both;
    animation: 2s preload-flip steps(2) infinite both;
  }
  .preloader.loading .slice:nth-child(1) {
    transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
    -webkit-animation: 2s preload-cycle-1 linear infinite both;
    animation: 2s preload-cycle-1 linear infinite both;
  }
  .preloader.loading .slice:nth-child(2) {
    transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
    -webkit-animation: 2s preload-cycle-2 linear infinite both;
    animation: 2s preload-cycle-2 linear infinite both;
  }
  .preloader.loading .slice:nth-child(3) {
    transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
    -webkit-animation: 2s preload-cycle-3 linear infinite both;
    animation: 2s preload-cycle-3 linear infinite both;
  }
  .preloader.loading .slice:nth-child(4) {
    transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
    -webkit-animation: 2s preload-cycle-4 linear infinite both;
    animation: 2s preload-cycle-4 linear infinite both;
  }
  .preloader.loading .slice:nth-child(5) {
    transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
    -webkit-animation: 2s preload-cycle-5 linear infinite both;
    animation: 2s preload-cycle-5 linear infinite both;
  }
  .preloader.loading .slice:nth-child(6) {
    transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
    -webkit-animation: 2s preload-cycle-6 linear infinite both;
    animation: 2s preload-cycle-6 linear infinite both;
  }


  .loader{
    display: inline-block;
    width: 20px;
    height: 20px;
}
.loader::after {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}