@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');
.loader{
    display: inline-block;
    width: 60px;
    height: 60px;
}
.loader::after {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    background-color: black;
    transition: background 2s ease-in;
}