@import "custom/color";
@import "custom/background";
body {
    color: $text;
    background-color: $background;
    margin: 0;
    padding: 0;
}
.user-background {
  background-image: url(#{$backgroundImg}), url(#{$backgroundImgDefault});
  background-size: cover;
  background-position: center;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}