@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

html {
    height: 100vh;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: White;
}

.flex-center {
    font-family: "Lexend Deca";
    font-size: 24px;
    display: flex;
    width: 100%;
}


.lds-dual-ring {
    display: inline-block;
    width: 0px;
    height: 25px;
    margin-left: 10px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 0px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.fadeOut {
    opacity: 0;
    transition: opacity 600ms cubic-bezier(0.55, 0.085, 0.68, 0.53);

}